@page
@model TorneDeFutbol.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">nombre</th>
      <th scope="col">apellido</th>
      <th scope="col">numeroTelefono</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
    @foreach (var jugador in Model.jugadores)   
    {
  
    <tr>
      <td>@jugador.nombre</td>
      <td>@jugador.apellido</td>
      <td>@jugador.numeroTelefono</td>
      <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@jugador.idParticipante">Detalle</a></td>
    </tr>

    }
    </tbody>
</table>